@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500&family=Sanchez&display=swap");
@import url();
:root {
  --color-bg-top: #1c75bc;
  --color-bg-bottom: white;
  --color-font-header-list: #2198c3;
  --color-background-form:rgb(245, 245, 245);
  --color-title-text: rgb(69, 65, 65) :
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* font-family: 'Arimo', sans-serif;
font-family: 'Sanchez', serif; */

.header_top {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding: 0.7rem;
  overflow: hidden;
  background-color: var(--color-bg-top);
}
.header_top_list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  list-style: none;
  font-family: sanchez;
  font-size: 13px;
  color: white;
}
.icon_fb {
  margin-left: 2rem;
  margin-right: 2rem;
}

.header_bottom {
  width: 100vw;

  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  justify-content: center;
  padding: 0.7rem;
  overflow: hidden;
}
.container_list_header_top {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container_list_header_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_bottom_list {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  text-align: center;
  gap: 3rem;
  list-style: none;
  font-family: arimo;
  color: var(--color-font-header-list);
}

.footer_container_principal {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
padding: 3rem;
  background: rgb(36, 32, 83);
  background: linear-gradient(
    360deg,
 
    rgba(9, 103, 177, 1) 1%,
    #25a1db 100%
  );
  color:white;
  padding: 2rem;


}
.footer_container_principal h3{
    font-family: sanchez;
    margin-bottom: 1rem;
}
.footer_container_principal li,p{
    font-family: arimo;
}

.explore_footer_box{
    padding: 1rem;
    
}
.explore_footer_box ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:5px
}

.explore_footer_box ul>li {
   cursor: pointer;
}

.contact_us_footer_box{
    padding: 1rem;
}

.contact_us_footer_box ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:5px
}
.follow_us_footer_box{
display: flex;
flex-direction: column;
gap: 10px;
}

.follow_us_footer_box img{
   cursor: pointer;
    }


    .info_venture_grup_box{
        max-width:320px ;
    }

/* Section Agents--------------------------------------------------------------------------------------------------------------*/

.header_title{
    width: 100vw;
    height: 7rem;
    display: flex;
   padding-left: 4rem;
   padding-top: rem;
    background-image:url("/img/background-table.jpg");
}
.title{
    font-size: 42px;
    color:var(--color-title-text);
    font-family: sanchez;
    font-weight: 100;
}

.container{
    width: 100vw;
    padding:4rem;
    padding-top: 3rem;
    display:flex;
 }
.agents{
  width: 100vw;
  height: max-content;
}

.img_agents{
  width: 90%;
  padding-right: 2rem;
}

.Form{
    background-color: rgb(245, 245, 245);
    border: 10px;
    height: max-content;
    padding: 2rem;
}

.Form li{
    list-style: none;
    padding-bottom: 1rem;
    font-family:Helvetica;
font-size: 24px;
font-weight:500;
line-height: 20px;
}

.title_form{
  width: 100%;
  font-size: 22px;
  background-color: var(--color-bg-top);
  color: white;
  padding: 2.3rem;
  justify-content: center;
  align-items: center;
  font-family: 'Sanchez', serif;
}
.submit_contact{
margin-left: 50%;
padding: 2rem;
}
.section_icons{
  display: flex;
  padding: 2rem;
  background-color: var(--color-background-form);
  padding-left: 4rem;
}

.Card-icons{
 display: inline-block;
  background-color: white;
  list-style: none;
  width: 20rem;
  height: auto;
  border: 1px solid transparent;
  margin-left: 4rem;
}
.Card-icons h1{
 color: var(--color-bg-top);
margin-left:50% ;
margin-bottom: 1px;
padding-top: 2rem;
padding-bottom: 2rem;
font-size: 30px;

}
.Card-icons h2{
  color: var(--color-bg-top);
  font-family: 'Sanchez';
  justify-content: center;
  align-items: center;
font-size: 20px;
line-height: 20px;
font-weight:400;
  margin-left:15% ;
  padding-bottom: 2rem;
}

.Card-icons p{
color: rgb(165, 163, 163);
padding-bottom: 2rem;
font-family:Helvetica;
font-size: 22px;
line-height: 23px;
font-weight: 400;
padding-left: 2rem
}

.fa-laptop{
  font-size: 90px;
  color:var(--color-font-header-list);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.fa-phone{
  font-size: 90px;
  color:var(--color-font-header-list);
  display: flex;
  justify-content: center;
  align-items: center;
    padding-bottom: 2rem;
}
.fa-magnifying-glass{
  font-size: 90px;
  color:var(--color-font-header-list);
  display: flex;
  justify-content: center;
  align-items: center;
    padding-bottom: 2rem;
}
.fa-money-bill-1{
  font-size: 90px;
  color:var(--color-font-header-list);
  display: flex;
  justify-content: center;
  align-items: center;
    padding-bottom: 2rem;
}
.help{
  padding: 2rem;
  padding-left: 4rem;
}

.title_help{
  padding-bottom: 3rem;
  font-family: 'Sanchez';
  font-size: 29px;
  font-weight: 400;
  line-height: 33px;
}

.help ul>li{
  line-height: 2rem;
  font-family:Helvetica;
  font-size: 18px;
  font-weight: 400;
}

.submit_contact{ 
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #0095ff;
  border: 1px solid transparent;
  color: #fff;
  cursor: pointer;
  font-family:Helvetica;
  font-size: 14px;  
  font-weight: 400;
  outline: none;
  margin-top: 1rem;
  padding:1rem 3rem;
}

.submit_contact:hover,
.submit_contact:focus {
  background-color: #07c;
}

.submit_contact:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.submit_contact:active {
  background-color: #0064bd;
  box-shadow: none;
}
